<app-submenu></app-submenu>
<div id="Company" class="tabcontent">
    <h3>Company</h3>
    <p>View/Edit Company List</p>
    <input type="button" style="padding: 0.7em; margin-top: 1em; margin-bottom: 0.5em; float: right;" value="+ Add new Company"/>
    <input type="text" placeholder="Search..." />
    <table>
        <tr>
          <th>Company</th>
          <th>Contact</th>
          <th>Country</th>
          <th></th>
        </tr>
        <tr>
          <td>Alfreds Futterkiste</td>
          <td>Maria Anders</td>
          <td>Germany</td>
          <td>
              <input type="button" placeholder="Edit" value="Edit"/>
          </td>
        </tr>
        <tr>
          <td>Centro comercial Moctezuma</td>
          <td>Francisco Chang</td>
          <td>Mexico</td>
          <td>
            <input type="button" placeholder="Edit" value="Edit"/>
        </td>
        </tr>
        <tr>
          <td>Ernst Handel</td>
          <td>Roland Mendel</td>
          <td>Austria</td>
          <td>
            <input type="button" placeholder="Edit" value="Edit"/>
        </td>
        </tr>
        <tr>
          <td>Island Trading</td>
          <td>Helen Bennett</td>
          <td>UK</td>
          <td>
            <input type="button" placeholder="Edit" value="Edit"/>
        </td>
        </tr>
        <tr>
          <td>Laughing Bacchus Winecellars</td>
          <td>Yoshi Tannamuri</td>
          <td>Canada</td>
          <td>
            <input type="button" placeholder="Edit" value="Edit"/>
        </td>
        </tr>
        <tr>
          <td>Magazzini Alimentari Riuniti</td>
          <td>Giovanni Rovelli</td>
          <td>Italy</td>
          <td>
            <input type="button" placeholder="Edit" value="Edit"/>
        </td>
        </tr>
      </table>
      
  </div>
