<app-submenu></app-submenu>
  <div id="Person" class="tabcontent">
    <h4>Person List</h4>
    <!-- <input type="button" style="padding: 0.7em; margin-top: 1em; margin-bottom: 0.5em; float: right;" value="+ Add new Person" (click)="toggleModal()"/> -->
    <button mat-raised-button style="float: right; background: #d8d8d8;" (click)="addPerson()">+ Add Person </button>
    <mat-form-field>
        <mat-label>Search for Person</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. any" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef> Phone </th>
          <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef> Birthday </th>
          <td mat-cell *matCellDef="let element"> {{element.birthday|date:'mediumDate'}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
          </ng-container>

        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let row">
              <button mat-button (click)="deleteRecord(row)">Delete</button>
              <button mat-button (click)="editRecord(row)">Edit</button>
            </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      
      
      
  </div>
  <div class="wrapper" [ngStyle]="(isModalVisible)? {'visibility': 'visible'} : {'visibility': 'hidden'}"> 
      <!-- Fixed element that spans the viewport -->
    <div class="element">
        <h4>Add New Person</h4>
        <form [formGroup]="form" (submit)="addPerson()">
            <div class="form-group">
                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                <input type="text" formControlName="name" id="name" placeholder="Person Name"/>
            </div>
            <div class="form-group">
                <label for="email"><i class="zmdi zmdi-email"></i></label>
                <input type="email" formControlName="email" id="email" placeholder="Person Email"/>
            </div>
            <div class="form-group">
                <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                <input type="tel" formControlName="phone" id="phone" placeholder="Person Phone"/>
            </div>
            <div class="form-group" style="margin-top: -1em;">
                <label for="birthday"><i class="zmdi zmdi-date"></i>Birthday:</label>
                <input type="date" style="margin-top: 3em;" formControlName="birthday" id="birthday" placeholder="Birthday"/>
            </div>
            <div class="form-group" style="margin-top: -1em;">
                <label for="address"><i class="zmdi zmdi-address"></i>Address:</label>
                <textarea style="margin-top: 3em;" formControlName="address" id="address" placeholder="Address"></textarea>
            </div>
            <br/>
            
            <div class="form-group form-button">
                <button type="submit" class="form-submit" style="float: left;">Create</button>
                <button type="button" class="form-submit" style="float: right;" (click)="toggleModal()">Cancel</button>
            </div>
        </form>
    </div> <!-- Person actual centered element -->
  </div>