
<section flex-container fxLayout="column" fxLayoutAlign="space-around center">
    <div mat-dialog-title>
        Person Details
    </div>
    <div mat-dialog-content class="example-container">
        <form [formGroup]="form" (submit)="changePassword()">
            <mat-form-field class="example-full-width">
                <mat-label>Current Password</mat-label>
                <input type="password" matInput formControlName="currentPassword" id="currentPassword" placeholder="Current Password"/>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>New Password</mat-label>
                <input type="password" matInput formControlName="newPassword" id="newPassword" placeholder="New Password"/>
            </mat-form-field>
            <div class="form-group form-button">
                <button type="submit" mat-raised-button color="primary" class="form-submit" style="float: left; text-transform: capitalize;">Change</button>
                <button type="button" mat-raised-button  class="form-submit" style="float: right;" (click)="dialogRef.close(true)">Cancel</button>
            </div>
        </form>
    </div>
</section>