input[type='file'] {
    visibility: hidden;
}

.work-section {
    margin-top: 100px;
    overflow: hidden;
    width: 100%;
}

.work {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-gap: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.work-section-heading {
    text-align: center;
    color: #6dabe4;
}

.work img {
    width: 350px;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.work img:hover {
    opacity: 0.6;
}
.add {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.add img {
    width: 300px;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.3s;
}

@media only screen and (max-width: 1060px) {
    .work {
        grid-template-columns: repeat(1, 350px);
    }
}