<mat-toolbar>
    <button mat-raised-button [routerLink]="'/admin/dashboard'" color="primary">Back to Dashboard</button>
</mat-toolbar>

<div id="Project" class="tabcontent">
    <h4>Projects List</h4>
    <mat-form-field>
        <mat-label>Search within Projects</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. any" #input>
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" multiTemplateDataRows>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Creator Name </th>
            <td mat-cell *matCellDef="let data;let i = dataIndex" [attr.rowspan]="getRowSpan('name',i)" [style.display]="getRowSpan('name', i) ? '' : 'none'">
             {{ data.name }} </td>
        </ng-container>
        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Creator Email </th>
            <td mat-cell *matCellDef="let data;let i = dataIndex" [attr.rowspan]="getRowSpan('email',i)" [style.display]="getRowSpan('email', i) ? '' : 'none'">
             {{ data.email }} </td>
        </ng-container>
        <!-- PROJECT Data Started -->
        <ng-container matColumnDef="pr_name">
            <th mat-header-cell *matHeaderCellDef> Project Name </th>
            <td mat-cell *matCellDef="let data"> {{ data.pr_name }} </td>
        </ng-container>
        <ng-container matColumnDef="pr_createdAt">
            <th mat-header-cell *matHeaderCellDef> Project Created At </th>
            <td mat-cell *matCellDef="let data"> {{ data.pr_createdAt | date:'short' }} </td>
        </ng-container>
        <ng-container matColumnDef="pr_updatedAt">
            <th mat-header-cell *matHeaderCellDef> Project Updated At </th>
            <td mat-cell *matCellDef="let data"> {{ data.pr_updatedAt | date:'short' }} </td>
        </ng-container>
        <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
              <button mat-button (click)="deleteProject(row)" color="primary">Delete</button>
            </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>