
<app-header></app-header>

  <section id="one" style="width:100%;" >
    <div class="hero-image">
      <div class="hero-text">
        <p>.</p>
        <h1 class="h1one">{{'landing.Customize' | translate}}</h1>
        <button class="btn1">{{'landing.Create' | translate}}</button>
      </div>
      
    </div>
  </section>

  <section id="two">
    <p class="pone">ecardy</p>
    <h5 class="h5one">{{'landing.ecardy' | translate}}</h5>
  </section>

  <section id="three">
    <div class="container">
    <div class="row" style="width:100%;">
      <div class="col-sm-6">
        <img src="assets/images/toppng.com-clip-art-transparent-stock-birthday-svg-calligraphy-transparent-happy-birthday-calligraphy-1389x809.png" class="img1">
      </div>
      <div class="col-sm-6">
        <a href="#"> <h5 class="h5two">{{'landing.Birthday' | translate}}</h5></a>
        <p class="ptwo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, ipsa?</p>
      </div>
    </div>
    </div>
  </section>

  <section id="four">
    <div class="container">
    <div class="row" style="width:100%;">
      <div class="col-sm-6">
       <a href="#"> <h5 class="h5three">{{'landing.Wedding' | translate}}</h5></a>
        <p class="pthree">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, ipsa?</p>
      </div>
      <div class="col-sm-6">
        <img src="assets/images/200643671.jpg" class="img2">
      </div>
    </div>
    </div>
  </section>

  <section id="five">
    <div class="container">
    <div class="row" style="width:100%;">
      <div class="col-sm-6">
        <img src="assets/images/thanksgiving.png" class="img3">
      </div>
      <div class="col-sm-6">
       <a href="#"> <h5 class="h5two">{{'landing.Thanksgiving' | translate}}</h5></a>
        <p class="ptwo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum, ipsa?</p>
      </div>
    </div>
    </div>
  </section>

  <section id="six">
    <div class="hero-image1">
      <div class="hero-text1">
        <p>.</p>
    <h5 class="h5four">{{'landing.Designs' | translate}}</h5>
    <p class="pfour">{{'landing.You' | translate}}</p>
    <button class="btn2" type="submit">{{'landing.Start' | translate}}</button>
  </div>
</div>
  </section>

  <section id="eight" style="background-color:#d0c9c3;">
    <div class="container">
      <div class="row" style="width:100%;">
        <div class="col-5 last">
          <img src="assets/images/128x128.png" id="playstore" style="margin-top:10%;"><img src="assets/images/apple.png" id="applestore" style="margin-top:10%;margin-left:1%;">

        </div>

        <div class="col-5 first">
         <img src="assets/images/128x128.png" id="playstore" style="margin-top:10%;">    
        </div>


        <div class="col-1" style="line-height: 1;font-weight: 300;">
         
        </div>

        <div class="col-2" style="line-height: 1;font-weight: 300;margin-top: 2%;">
          <h5>About Us</h5>
          <p style="margin-top:4%;">Home</p>
          <p>Features</p>
          <p>Pricing</p>
          <p>Docs</p>  
        </div>

        
          <div class="col-2" style="line-height: 1;font-weight: 300;margin-top: 2%;">
            <h5>Features</h5>
            <p style="margin-top:4%;">Services</p>
            <p>Influencest</p>
            <p>Media</p>
            <p>Brand</p>
        </div>

        <div class="col-2" style="line-height: 1;font-weight: 300;margin-top: 2%;">
          <h5>Blog</h5>
          <p style="margin-top:4%;">Terms and Conditions</p>
          <p>Support</p>
          <p>Privacy</p>
        </div>

      </div>
    </div>
  </section>