#navbarNav{
    margin-left:20%;
}

.profile_pic{
    border-radius: 50%;
    max-height: 2em;
}

.navbar-nav,.nav-item{
    margin-left:6%;
    font-weight:600;
}

.navbar-nav .nav-item:hover{
    color:black;
    font-weight: bold;
}
.left-header span {
    color: #6dabe4; 
    font-size: 20px; 
    white-space: nowrap;
}
.left-header a{
    max-width: 15em;
    text-decoration: none;
}