<app-submenu></app-submenu>

<section>
    <div class="container">
        <mat-card>
            <mat-card-header>
                <h4>Profile View/Edit</h4>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="form" class="register-form" (submit)="onUpdate()">
                    <div class="profile_pic">
                        <img [src]="!imageSrc? 'assets/images/profile-icon.png': imageSrc" style="width:100px;"/>
                    </div>
                    <div>
                        <input 
                            formControlName="file"
                            id="file" 
                            type="file" 
                            (change)="onFileChange($event)" />
                    </div>
                    <br/>
                    <mat-form-field class="field-width">
                        <mat-label>Name</mat-label>
                        <input type="text" matInput formControlName="name" id="name" placeholder="Your Name"/>
                    </mat-form-field>
                    <mat-form-field class="field-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput formControlName="email" id="email" placeholder="Your Email" readonly/>
                    </mat-form-field>
                    <mat-form-field class="field-width">
                        <mat-label>Birthday</mat-label>
                        <input type="date" matInput formControlName="birthday" id="birthday" placeholder="Birthday"/>
                    </mat-form-field>
                        <br/>
                    <div class="form-group form-button">
                        <button mat-raised-button type="submit" class="form-submit">Update</button>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <h5>More Actions:</h5>
                <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
                <button mat-raised-button color="warn">Delete Accont</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>
