<app-submenu></app-submenu>

<section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h4 class="form-title">Profile View/Edit</h4>
                <form [formGroup]="form" class="register-form" (submit)="onUpdate()">
                    Profile Image:<br/>
                    <img [src]="imageSrc" style="width: 25%;" />
                    <div class="form-group" style="margin-top: -1em;">
                        <label for="file">Change Profile image:</label>
                        <input 
                            formControlName="file"
                            id="file" 
                            type="file" 
                            class="form-control"
                            (change)="onFileChange($event)"
                            style="margin-top: 3em;">
                    </div>
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" formControlName="name" id="name" placeholder="Your Name"/>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" formControlName="email" id="email" placeholder="Your Email"/>
                    </div>
                    <div class="form-group" style="margin-top: -1em;">
                        <label for="birthday"><i class="zmdi zmdi-date"></i>Birthday:</label>
                        <input type="date" style="margin-top: 3em;" formControlName="birthday" id="birthday" placeholder="Birthday"/>
                    </div>
                      <br/>
                    <div class="form-group form-button">
                        <button type="submit" class="form-submit">Update</button>
                    </div>
                </form>

                <div class="moreAction">
                    <h5>More Actions:</h5>
                    <button mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
                    <button mat-raised-button color="warn">Delete Accont</button>
                </div>
            </div>
        </div>
    </div>
</section>
